* {
  font-family: Arial, Geneva, Helvetica, sans-serif;
}

.selection {
  /* add a solid border to the brush */
  stroke: rgba(0, 0, 0, 0.3);
}

.label {
  fill: black;
  font-size: 12px;
}

/*#body {
  background: linear-gradient(45deg, #22AA78 0%, #06B9BA 100%);
}

#chart3 {
background-image: linear-gradient(to right top, #05080c, #001430, #001a52, #001a73, #0f098d);
*/}

.dot--hovered,
.dot--selected.dot--hovered {
  /* 
    The definition here means that the styles defined below apply
    (1) If an element has "dot--hovered",
    OR
    (2) If an element has both "dot--selected" and "dot--hovered" classes
    
    Because of (2), the styles here will take precedence and overwrite the styles
    define for the ".dot--selected" class alone. This means that hovering effect
    takes precedence over brush selection. If a dot is both hovered and inside the brush,
    it will be styled as if it is hovered.
  */
  fill: rgba(255, 255, 0, 0.5)
}

.dot--selected {
  fill: rgba(255, 0, 0, 0.3);
}

